<h2>Create a new celebrity</h2>
<form method="POST">
<input name="name" placeholder="name" type="text">
<input name="occupation" placeholder="occupation" type="text">
<input name="catchPhrase" placeholder="catchPhrase" type="text">
<input type="submit">
</form>