<h1>CELEBRITY LIST</h1>
<h2><a href="/">Home</h2></p>
<h4><a href="/celebrities/create/">Create a new celebrity</h4></p>
<ul>
{{#each celebrities}}
<li><a href="/celebrities/show/{{_id}}">{{name}}</a></li>
<form action="/celebrities/{{_id}}/delete" method="POST">
<button>Delete</button></form>
{{/each}}
</ul>




