<h2>SHOW CELEBRITY</h2>
<p>Name: {{celebrities.name}}</p>
<p>Occupation: {{celebrities.occupation}}</p>
<p>Catchphrase: {{celebrities.catchPhrase}}</p>

<h2><a href="/celebrities">Show all celebritys</h2></p>
