<h2>Create a new movie</h2>
<form method="POST">
<input name="title" placeholder="title" type="text">
<input name="genre" placeholder="genre" type="text">
<input name="plot" placeholder="plot" type="text">
<input type="submit">
</form>